@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #303030;
    /* height: 100vh; */
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#containerTabela {
    max-width: 900px;
    border-bottom: 1px solid rgb(120,120,120);
}

table {
    width: 100%;
    color: whitesmoke;
    border-collapse: collapse;
    background-color: #3d3d3d;
}

.thHead1 {
    text-align: left;
}

th {
    color: whitesmoke;
    font-size: 1.5em;
    padding: 20px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

td {
    /* border-bottom: 1px solid rgb(120, 120, 120); */
    padding: 20px;
}

.tdBody1 {
    display: flex;
    font-size: 1.5em;
}

#tdBody2, #tdBody3, #tdBody4 {
    text-align: center;
}

button {
    width: 35px;
    padding: 5px;
    border: 0;
    background-color: transparent;
    transition: .5s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.205);
}

.containerImg > img {
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
}

.containerBotoes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 0px 0px;
}

button > img {
    width: 100%;
}

.nomeProduto, .preçoProduto {
    padding: 10px 0px 0px 30px;
}

#containerButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sumirPc {
    display: none;
}

@media screen and (min-width: 768px) {
    .sumirTela {
        display: none;
    }
}