@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #303030;
    padding: 30px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: #424242;
    border-collapse: collapse;
    color: white;
}

td,th {
    /* padding: 5px 0px 0px 40px; */
    padding: 10px 40px;
    text-align: center;
}

th:nth-child(1) {
    text-align: left;
}

td {
    text-align: center;
    padding: 20px;
}
th {
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    font-size: 1.5em;
}

.containerProdutos2 {
    display: flex;
    align-items: center;
}

.containerQuantidade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantidade {
    margin: 0px 10px;
    font-size: 1.3em;
}

.menos, .mais {
    background-color: transparent;
    border: 0;
    max-width: 35px;
    max-height: 35px;
    padding: 7px;
    transition: .8s;
    cursor: pointer;
}

.mais:hover , .menos:hover {
    background-color: rgb(122, 122, 122);
}

.menos > img , .mais > img, .delete > img{
    width: 100%;
}

.delete {
    background-color: transparent;
    border: 0;
    padding: 10px;
    outline: 0;
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
    transition: .7s;
    cursor: pointer;
}

.delete:hover {
    background-color: rgb(122, 122, 122);
}

.imagem {
    max-width: 100px;
    max-height: 100px;
}

.imagem > img {
    width: 100%;
}

.legenda {
    padding-left: 30px;
    color: white;
}