@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #303030;
    padding: 30px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    background-color: #424242;
    border-collapse: collapse;
    color: white;
}

th {
    font-size: 1.2em;
    padding: 20px;
    border: 1px solid rgb(126, 126, 126);
    text-align: left;
}

td {

    padding: 20px;
    display: flex;
    outline: 1px solid rgb(126, 126, 126);
}

.containerQuantidadeDelete {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.containerImagemNome {}

.containerNomePreço {
    width: 100%;
    font-size: 1.3em;
    padding: 10px 30px;
    text-align: center;
}

.containerNomePreço>p:nth-child(1) {
    padding-bottom: 15px;
}

.imagem {
    width: 120px;
    height: 120px;
}

.imagem>img {
    width: 100%;
}

.menos,
.mais {
    background-color: transparent;
    border: 0;
    max-width: 35px;
    max-height: 35px;
    padding: 7px;
    transition: .8s;
    cursor: pointer;
}

.teste {
    display: none;
}

.mais:hover,
.menos:hover {
    background-color: rgb(122, 122, 122);
}

.menos>img,
.mais>img,
.delete>img {
    width: 100%;
}

.delete {
    background-color: transparent;
    border: 0;
    padding: 10px;
    outline: 0;
    border-radius: 50%;
    max-width: 55px;
    max-height: 55px;
    transition: .7s;
    cursor: pointer;
}

.delete:hover {
    background-color: rgb(122, 122, 122);
}

@media screen and (min-width: 768px) {
    table {
        width: auto;
    }
    .teste {
        display: inline-block;
    }
}

/* 


td,th {
    padding: 5px 0px 0px 40px;
    padding: 10px 40px;
    text-align: center;
}

th:nth-child(1) {
    text-align: left;
}

tr {
   
}

td {
    text-align: center;
    padding: 20px;
}

th {
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    font-size: 1.5em;
}

.containerProdutos2 {
    display: flex;
    align-items: center;
}

.containerQuantidade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantidade {
    margin: 0px 10px;
    font-size: 1.3em;
}

.imagem {
    max-width: 100px;
    max-height: 100px;
}

.imagem > img {
    width: 100%;
}

.legenda {
    padding-left: 30px;
    color: white;
}

@media screen and (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
    }
    .containerProdutos2 {
        display: block;
    }
    th:nth-child(2), th:nth-child(3) {
        display: none;
    }
    tr {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} */